:root {
  font-size: 16px;
}

@media (min-width: 576px) {
  :root {
    /* font-size: 18px; */
  }
}
/* @media (max-height: 600px) {
  :root {
    font-size: 16px;
    color: red;
  }
  .editor {
    color: red;
  }
} */
@media only screen and (min-height: 720px) {
  :root {
    font-size: 16px;
  }
}
@media only screen and (min-height: 1000px) {
  :root {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1100px) {
  :root {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    font-size: 21px;
  }
}

@media only screen and (min-width: 1900px) {
  :root {
    /* font-size: 22px; */
  }
}
@media only screen and (min-width: 2100px) {
  :root {
    /* font-size: 22px; */
  }
}

#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
  height: 100%;
  background-color: var(--mainColor);
  font-size: 1rem;
  line-height: 1.15;
}

a {
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 2em;
}
svg {
  display: inline-block;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  font-size: 1rem;
}
.leftside-actions,
.rightside-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


    [contenteditable='true']:empty:before {
      content: attr(placeholder);
      display: block;
      color: rgb(135, 135, 135);
      font-size: 1.3rem;
    }
    