
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root {
  --containerWidth: 100vw;
}

@media (min-width: 576px) {
  :root {
    --containerWidth: 80vw;
    font-size: 18px;
  }
}
@media (min-width: 669px) {
  :root {
    --containerWidth: 60vw;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --containerWidth: 50vw;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  :root {
    --containerWidth: 45vw;
  }
}
@media only screen and (min-width: 1500px) {
  :root {
    --containerWidth: 30vw;
  }
}
@media only screen and (min-width: 1900px) {
  :root {
    --containerWidth: 25vw;
    font-size: 22px;
  }
}
@media only screen and (min-width: 2100px) {
  :root {
    --containerWidth: 23vw;
    font-size: 22px;
  }
}






#__next {
  height: 100%;
}

html,
body {

  padding: 0;
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    height: 100%;
    background-color: var(--mainColor);
  
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
